@font-face {
  font-family: 'Gadugi';
  src: url("../fonts/Gadugi.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gadugi';
  src: url("../fonts/Gadugi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none; }

body {
  min-height: 100%;
  font-family: 'Gadugi', sans-serif; }

ul, li {
  list-style: none; }

.container {
  width: 1280px;
  margin: 0 auto; }

.header__humberger-btn,
.header__sidedrawer {
  display: none; }

.header__logo {
  margin-bottom: 45px;
  margin-top: 15px;
  color: #ff0033;
  font-size: 31px;
  font-weight: 700; }

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.promo__pic {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 272px;
  height: 291px;
  margin-right: 40px; }
  .promo__pic img {
    width: 100%; }

.promo__main-text {
  width: 700px; }

.promo__header {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px; }

.promo__text {
  width: 100%; }

.promo__item {
  color: #ff0033;
  font-size: 31px;
  font-weight: 700; }

.promo__text {
  width: 800px;
  margin: 20px auto 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 700; }

.card {
  width: 1060px;
  margin: 0 auto;
  padding: 30px 50px 20px 40px;
  border: 20px solid black; }

.card__header {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 700;
  color: #ff0033; }
